<% if @category %>
<h2>Category: <%= category.id %></h2>
<table>
  <tr>
    <th>Date</th>
    <th>Transaction</th>
    <th>Amount</th>
  </tr>
  <%@category.each do |item| %>
      <tr>
        <td><%= item.date %></td>
        <td><%= item.transaction %></td>
        <td><%= item.amount %></td>
      </tr>
    </div>
  <% end %>
</table>

<% else %>
  <p>You have no transactions to show for this category</p>
<% end %>
